#calculator_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* vw -> view width (100vw = width da tela toda [100%]) */
    /* vh -> view height (100vh = height da tela toda [100%]) muito bom mané */
}

#calculator{
    /* border-radius: 20px; */
    background-color: rgb(0, 0, 0);
    /* background-color: rgb(107, 107, 107);
    box-shadow: 25px 20px 20px;
    color: rgb(27, 27, 27);  [se eu for usar box shadow, são essas as configs]*/
    width: 300px;
    height: 70vh;
}

#display{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 15vh;
    border-radius: 20px 20px 0 0;
    /* background-color: rgb(57, 57, 57); */
}

#result{
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
    padding-right: 15px;
}

#keys_container{
    font-family: sans-serif;
}

#keys{
    height: 55vh;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-around;
    row-gap: 10px;

    & div{
        cursor: pointer;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    & div.zero_container{
        grid-column: 1 / span 2;
        justify-self: stretch;
        border-radius: 20px;
        width: 100%;

    }

    & div.zero{
        width: 100%;
    }
}

.gray_symbol_container{
    background-color: gray;
}

.gray_symbol{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow_symbol_container{
    background-color: rgb(255, 177, 10);
}

.yellow_symbol{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number_container{
    background-color: rgb(83, 83, 83);

}

.number{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 425px){

    body{
        overflow: hidden;
    }

    #calculator{
        border-radius: 0;
        background-color: rgb(0, 0, 0);
        width: 100vw;
        height: 100vh;
    }

    #display{
        display: flex;
        justify-content: right;
        align-items: center;
        width: 100%;
        height: 20vh;
        border-radius: 20px 20px 0 0;
        /* background-color: rgb(57, 57, 57); */
    }

    #result{
        color: white;
        font-family: sans-serif;
        font-size: 3rem;
        padding-right: 6vw;
    }

    #keys{
        color: white;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        justify-content: space-around;
        row-gap: 0;
        height: 80vh;
    
        & div{
            border-radius: 50%;
            width: 75px;
            height: 75px;
            font-size: 24px;
        }
    
        & div.zero_container{
            grid-column: 1 / span 2;
            justify-self: stretch;
            border-radius: 50px;
            width: 100%;
    
        }
    
        & div.zero{
            width: 100%;
        }
    }
}